<head>
    <title>Digital Galaxy - Chiieflo</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap">
</head>

<body>

    <div>
        <img id="mermaid" src="../../../assets/images/Website/Layy.jpg" alt="Chiieflo Profile">
        <p id="mami"><b>@chiieflo</b></p>
    </div>

    <div class="buttons">
        <div class="row">
            <button id="Twitch">
                <i class="fab fa-twitch" style="color: rgb(150, 0, 255)"></i>
                <a href="https://www.twitch.tv/chiieflo"> Twitch</a>
            </button>
        </div>

        <div class="row">
            <button id="TikTok">
                <i class="fa-brands fa-tiktok" style="color: rgb(20, 255, 0);"></i>
                <a href="https://www.tiktok.com/@laythesloth"> TikTok</a>
            </button>
        </div>

        <div class="row">
            <button id="Twitter">
                <i class="fab fa-twitter" style="color: rgb(0, 210, 255)"></i>
                <a href="https://twitter.com/chiieflo"> Twitter</a>
            </button>
        </div>

        <div class="row">
            <button id="Instagram">
                <i class="fab fa-instagram" style="color: rgb(255, 217, 0)"></i>
                <a href="https://www.instagram.com/chiieflo"> Instagram</a>
            </button>
        </div>

        <div class="row">
            <button id="Youtube">
                <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
                <a href="https://www.youtube.com/@layalexandriaa"> YouTube</a>
            </button>
        </div>

    </div>





</body>

<router-outlet></router-outlet>