.statsPage {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
    padding: 10px;
    height: 400px;
}
.statList {
    
}

p {
    color: white;
}

h1 {
    position: relative;
    text-align: center;
    overflow: hidden;
    color: rgb(151, 255, 140);
    border-radius: 2px solid black;
}