.homePage {
    border: 2px solid black;
    border-radius: 1px;
    margin-right: 20%;
    margin-left: 20%;
    
    display: inline-block;
    flex-direction: row;
    justify-content: center;


    min-width:min-content;
    max-width:max-content;

}