<div class="listLinks">

    <h1 id="socialHeader">SOCIALS</h1>

    <section>
        <button class="socialTwitch" style="background-color: rgb(100, 168, 238);">
            <i class="fab fa-twitch" style="color: rgb(128, 0, 174)"></i>
            <a href="https://www.twitch.tv/gazpachoblaze">Twitch</a>
        </button>

        <button class="socialTwitter" style="background-color: rgb(70, 228, 70);">
            <i class="fab fa-twitter" style="color: rgb(20, 168, 248)"></i>
            <a href="https://twitter.com/GazpachoBlaze">Twitter</a>
        </button>

        <button class="socialTiktok" style="background-color: rgb(212, 212, 60);">
            <i class="fas fa-music"></i>
            <a href="https://www.tiktok.com/@gazpachoblaze">TikTok</a>
        </button>

        <button class="socialYoutube" style="background-color: rgb(253, 76, 76);">
            <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
            <a href="https://www.youtube.com/channel/UC3RB7QxgTl4rCziFcRo40oA">YouTube</a>
        </button>

        <button class="socialInstagram" style="background-color: rgb(20, 40, 200);">
            <i class="fab fa-instagram" style="color: rgb(168, 88, 30);"></i>
            <a href="https://www.instagram.com/gazpachoblaze/">Instagram</a>
        </button>


    </section>

</div>



<router-outlet></router-outlet>