.listLinks {
    background-image: linear-gradient(rgb(0, 217, 255), rgb(255, 255, 0));
    border: 3px solid black;
    border-radius: 20px 20px 20px 20px;
    margin-left:85%;
    margin-top: -4%;
    margin-bottom: 5px;
    padding: 20px;
}

#socialHeader {
    text-align: center;
    border-radius: 0 20% 20% 0;
    font-size: 30px;
}

section button:nth-of-type(1) {
    transform: rotate(-10deg);
    text-align: center;
    padding: 2px;
    border: 2px solid black;
    font-size:20px;
}

section button:nth-of-type(2) {
    transform: rotate(10deg);
    text-align: center;
    padding: 2px;
    margin: 8% 20%;
    border: 2px solid black;
}

section button:nth-of-type(3) {
    transform: rotate(-10deg);
    text-align: center;
    padding: 2px;
    margin: 8% 20%;
    border: 2px solid black;
}

section button:nth-of-type(4) {
    transform: rotate(10deg);
    text-align: center;
    padding: 2px;
    margin: 8% 20%;
    border: 2px solid black;
}

section button:nth-of-type(5) {
    color: white;
    transform: rotate(-8deg);
    text-align: center;
    padding: 2px;
    margin: 8% 20%;
    border: 2px solid black;
}

a {
    color: black;
}

a:visited {
    color: pink;
}

