<div class="allSocials">

    <div class="listLinks">

        <div id="twitchLink">
            <i class="fab fa-twitch" style="color: rgb(128, 0, 174)"></i>
            <a href="https://www.twitch.tv/gazpachoblaze">Twitch</a>
        </div>

        <div id="tiktokLink">
            <i class="fas fa-music"></i>
            <a href="https://www.tiktok.com/@gazpachoblaze">TikTok</a>
        </div>

        <div id="twitterLink">
            <i class="fab fa-twitter" style="color: rgb(20, 168, 248)"></i>
            <a href="https://twitter.com/GazpachoBlaze">Twitter</a>
        </div>

        <div id="youtubeLink">
            <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
            <a href="https://www.youtube.com/channel/UC3RB7QxgTl4rCziFcRo40oA">YouTube</a>
        </div>

        <div id="instaLink">
            <i class="fab fa-instagram" style="color: rgb(168, 88, 30);"></i>
            <a href="https://www.instagram.com/gazpachoblaze/">Instagram</a>
        </div>


        <section>
            <h1 style="background-color: rgb(100, 168, 238);">
                <i class="fab fa-twitch" style="color: rgb(128, 0, 174)"></i>
                <a href="https://www.twitch.tv/gazpachoblaze">Twitch</a>
            </h1>

            <h1 style="background-color: rgb(253, 76, 76);">
                <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
                <a href="https://www.youtube.com/channel/UC3RB7QxgTl4rCziFcRo40oA">YouTube</a>
            </h1>

            <h1 style="background-color: rgb(212, 212, 60);">
                <i class="fas fa-music"></i>
                <a href="https://www.tiktok.com/@gazpachoblaze">TikTok</a>
            </h1>

            <h1 style="background-color: rgb(70, 228, 70);">
                <i class="fab fa-twitter" style="color: rgb(20, 168, 248)"></i>
                <a href="https://twitter.com/GazpachoBlaze">Twitter</a>
            </h1>

            <h1 style="background-color: rgb(70, 228, 70);">
                <i class="fab fa-twitter" style="color: rgb(20, 168, 248)"></i>
                <a href="https://twitter.com/GazpachoBlaze">Twitter</a>
            </h1>


        </section>

    </div>




</div>





<router-outlet></router-outlet>