.listLinks {
    background-image: linear-gradient(rgb(0, 138, 165), rgb(0, 110, 130));
    border: 3px solid black;
    border-radius: 20px 20px 20px 20px;
    margin-left:85%;
    margin-top: -7%;
    margin-bottom: 5px;
    padding: 20px;;
}

#socialHeader {
    text-align: center;
    border-radius: 0 20% 20% 0;
    font-size: 30px;
}

a {
    font-size: 20px;
    color: black;
}

a:visited {
    color: rgb(0, 255, 68);
}


#Twitch {
    background-color: rgba(125, 125, 125, 0.5);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
#Twitch:hover {
    border-color: rgb(150, 0, 255);
    color: white;
    box-shadow: 0 0.7em 1em -0.7em rgb(150, 0, 255);
    transform: translateY(-0.25em);
    cursor: pointer;
}


#Twitter {
    background-color: rgba(125, 125, 125, 0.5);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
#Twitter:hover {
    border-color: rgb(0, 250, 255);
    color: white;
    box-shadow: 0 0.7em 1em -0.7em rgb(0, 250, 255);
    transform: translateY(-0.25em);
    cursor: pointer;
}


#TikTok {
    background-color: rgba(125, 125, 125, 0.5);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}

#TikTok:hover {
    border-color: rgb(60, 203, 0);
    color: white;
    box-shadow: 0 0.7em 1em -0.7em rgb(60, 203, 0);
    transform: translateY(-0.25em);
    cursor: pointer;
}


#Youtube {
    background-color: rgba(125, 125, 125, 0.5);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
#Youtube:hover {
    border-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 0 0.7em 1em -0.7em rgb(255, 0, 0);
    transform: translateY(-0.25em);
    cursor: pointer;
}


#Instagram {
    background-color: rgba(125, 125, 125, 0.5);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
#Instagram:hover {
    border-color: rgb(255, 238, 0);
    color: white;
    box-shadow: 0 0.7em 1em -0.7em rgb(255, 238, 0);
    transform: translateY(-0.25em);
    cursor: pointer;
}