<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap">
</head>

<div class="listLinks">

    <h1 id="socialHeader">SOCIALS</h1>

    <div id="Twitch">
        <i class="fab fa-twitch" style="color: rgb(150, 0, 255)"></i>
        <a href="https://www.twitch.tv/gazpachoblaze">Twitch</a>
    </div>

    <div id="Twitter">
        <i class="fab fa-twitter" style="color: rgb(0, 210, 255)"></i>
        <a href="https://twitter.com/GazpachoBlaze">Twitter</a>
    </div>

    <div id="TikTok">
        <i class="fas fa-music" style="color: rgb(20, 255, 0);"></i>
        <a href="https://www.tiktok.com/@gazpachoblaze">TikTok</a>
    </div>

    <div id="Youtube">
        <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
        <a href="https://www.youtube.com/channel/UC3RB7QxgTl4rCziFcRo40oA">YouTube</a>
    </div>

    <div id="Instagram">
        <i class="fab fa-instagram" style="color: rgb(255, 200, 0)"></i>
        <a href="https://www.instagram.com/gazpachoblaze/">Instagram</a>
    </div>
















</div>



<router-outlet></router-outlet>