<head>
    <title>Digital Galaxy - Mahogany</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap">
</head>

<body>

    <div>
        <img id="mermaid" src="../../../assets/images/Website/Mamicitaaa.png" alt="Mamicitaaa Profile">
        <p id="mami"><b>@mamicitaaa</b></p>
    </div>

    <div class="buttons">
        <div class="row">
            <button id="Twitch">
                <i class="fab fa-twitch" style="color: rgb(150, 0, 255)"></i>
                <a href="https://www.twitch.tv/mamicitaaa"> Twitch</a>
            </button>
        </div>

        <div class="row">
            <button id="TikTok">
                <i class="fa-brands fa-tiktok" style="color: rgb(20, 255, 0);"></i>
                <a href="https://www.tiktok.com/@mamicitaaattv"> TikTok</a>
            </button>
        </div>

        <div class="row">
            <button id="Twitter">
                <i class="fab fa-twitter" style="color: rgb(0, 210, 255)"></i>
                <a href="https://twitter.com/mamicitaaattv"> Twitter</a>
            </button>
        </div>

        <div class="row">
            <button id="Instagram">
                <i class="fab fa-instagram" style="color: rgb(255, 217, 0)"></i>
                <a href="https://www.instagram.com/mamicitaaa_tv"> Instagram</a>
            </button>
        </div>

        <div class="row">
            <button id="Youtube">
                <i class="fab fa-youtube" style="color: rgb(255, 0, 0)"></i>
                <a href="https://www.youtube.com/channel/UC-Dme11MV2XJu7lrl-txvTw"> YouTube</a>
            </button>
        </div>

    </div>





</body>

<router-outlet></router-outlet>