<head>
    <title>Digital Galaxy - Main</title>
</head>

<body>
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>

    <div id="row1" class="row">
        <div class="col-4">
            <app-about></app-about>
            <app-stats></app-stats>
        </div>
        <div class="col-4">
            <app-home></app-home>
        </div>
        <div class="col-4">
            <app-socials></app-socials>
            <app-homies></app-homies>
            <app-wishlist></app-wishlist>
        </div>
    </div>
</body>

<router-outlet></router-outlet>