body {
    /* background-image: url(../../../assets/images/minecraftOcean.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(210, 180, 0), rgb(20, 0, 150));
}

@media (max-width: 700px) {
    
}

