<div class="homiesPage">

    <h2>Squad</h2>
    <p>5ft3</p>
    <p>Mamicitaaa</p>
    <p>Mahoganywtf</p>
    <p>chiieflo</p>
    <p>Samuwhyy</p>


    <!-- <carousel [cellsToShow]="1" [autoplay]="true" [autoplayInterval]="4000" [height]="600">

        <div class="carousel-cell">
            <p>5ft3</p>
        </div>

        <div class="carousel-cell">
            <p>Mamicitaaa</p>
        </div>

        <div class="carousel-cell">
            <p>Mahoganywtf</p>
        </div>

        <div class="carousel-cell">
            <p>Chiieflo</p>
        </div>

        <div class="carousel-cell">
            <p>Samuwhyy</p>
        </div>

    </carousel> -->



</div>







<router-outlet></router-outlet>