.homiesPage {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10%;
    margin-left: 86%;
    padding: 20px;
    transform: translateX(-530px);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}



.squadTitle {
    text-align: center;
    color: wheat;
}

#row2 {
    transform: translateY(30px);
}

#row3 {
    transform: translateY(60px);
}

.homieButtons {
    border: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 100%;
    min-width:fit-content ;
    height: 3em;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;
}

#nikki {
    background-color: pink;    
}
#nikkiPNG {
    border-radius: 50px;
    height: 45px;
    width: 45px;
}

/* #mamicitaaa {
    background-color: rgb(255, 115, 255);    
}
#mamicitaaaPNG {
    border-radius: 50px;
    height: 45px;
    width: 45px;
} */

#king_eiii {
    background-color: gold;    
}
#eiiiPNG {
    border-radius: 50px;
    height: 45px;
    width: 45px;
}

#mahoganywtf {
    background-color: rgb(67, 85, 215);    
}
#mahoganyPNG {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#chiieflo {
    background-color: rgb(225, 34, 34);    
}
#layyJPG {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

#samuwhyy {
    background-color: rgb(63, 200, 63);    
}
#samPNG {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

@media (max-width: 2000) {
    .homiesPage {
        transform: translateX(-50px);
    }
}

@media (max-width: 1800px) {
    .homiesPage {
        transform: translateX(-480px);
    }
}

@media (max-width: 1700px) {
    .homiesPage {
        transform: translateX(-470px);
    }
}

@media (max-width: 1600px) {
    .homiesPage {
        transform: translateX(-440px);
    }
}

@media (max-width: 1500px) {
    .homiesPage {
        transform: translateX(-400px);
    }
}

@media (max-width: 1400px) {
    .homiesPage {
        transform: translateX(-380px);
    }
}

@media (max-width: 1300px) {
    .homiesPage {
        transform: translateX(-350px);
    }
}

@media (max-width: 1200px) {
    .homiesPage {
        transform: translateX(-300px);
    }
}

@media (max-width: 1100px) {
    .homiesPage {
        transform: translateX(-270px);
    }
}

@media (max-width: 1000px) {
    .homiesPage {
        transform: translateX(-250px);
    }
}

@media (max-width: 900px) {
    .homiesPage {
        transform: translateX(-220px);
    }
}

@media (max-width: 800px) {
    .homiesPage {
        transform: translateX(-200px);
    }
}

@media (max-width: 700px) {
    .homiesPage {
        transform: translateX(-170px);
    }
}