<div class="homiesPage">
    <h2 class="squadTitle">Squad</h2>
    <div class="row">
        <div class="col-6">
            <p>5ft3</p>
        </div>

        <div class="col-6">
            <p>Mamicitaaa</p>
        </div>
    </div>


    <!--  -->
    <p>Mahoganywtf</p>
    <p>chiieflo</p>
    <p>Samuwhyy</p>


    <!-- <carousel [cellsToShow]="1" [autoplay]="true" [autoplayInterval]="4000" [height]="600">

        <div class="carousel-cell">
            <p>5ft3</p>
        </div>

        <div class="carousel-cell">
            <p>Mamicitaaa</p>
        </div>

        <div class="carousel-cell">
            <p>Mahoganywtf</p>
        </div>

        <div class="carousel-cell">
            <p>Chiieflo</p>
        </div>

        <div class="carousel-cell">
            <p>Samuwhyy</p>
        </div>

    </carousel> -->



</div>







<router-outlet></router-outlet>