<div class="homiesPage">
    <h2 class="squadTitle">Squad</h2>
    <div id="row1" class="row">
        <div class="col-6">
            <a href="https://www.twitch.tv/5ft3">
                <button class="homieButtons" id="nikki">5ft3</button>
            </a>
        </div>

        <div class="col-6">
            <a href="https://www.twitch.tv/mamicitaaa">
                <button class="homieButtons" id="mamicitaaa">Mamicitaaa</button>
            </a>
        </div>
    </div>

    <div id="row2" class="row">
        <div class="col-6">
            <a href="https://www.twitch.tv/king_eiii">
                <button class="homieButtons" id="king_eiii">King_EIII</button>
            </a>
        </div>

        <div class="col-6">
            <a href="https://www.twitch.tv/mahoganywtf">
                <button class="homieButtons" id="mahoganywtf">Mahoganywtf</button>
            </a>
        </div>
    </div>

    <div id="row3" class="row">
        <div class="col-6">
            <a href="https://www.twitch.tv/chiieflo">
                <button class="homieButtons" id="chiieflo">Chiieflo</button>
            </a>
        </div>

        <div class="col-6">
            <a href="https://www.twitch.tv/samuwhyy">
                <button class="homieButtons" id="samuwhyy">Samuwhyy</button>
            </a>
        </div>
    </div>





    <!-- <carousel [cellsToShow]="1" [autoplay]="true" [autoplayInterval]="4000" [height]="600">

        <div class="carousel-cell">
            <p>5ft3</p>
        </div>

        <div class="carousel-cell">
            <p>Mamicitaaa</p>
        </div>

        <div class="carousel-cell">
            <p>Mahoganywtf</p>
        </div>

        <div class="carousel-cell">
            <p>Chiieflo</p>
        </div>

        <div class="carousel-cell">
            <p>Samuwhyy</p>
        </div>

    </carousel> -->



</div>







<router-outlet></router-outlet>